[Unit]
After=network-online.target
After=local-fs.target

[Service]
Type=simple
Restart=always
User=prometheus
Group=prometheus
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ExecStart=/usr/local/bin/prometheus \
    --config.file={{ config_dir }}/prometheus.yml \
    --storage.tsdb.path={{ db_dir }} \
    --web.console.libraries={{ config_dir }}/console_libraries \
    --web.console.templates={{ config_dir }}/consoles \
    --web.listen-address={{ listen }}

[Install]
WantedBy=multi-user.target
